<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>@ViewBag.Title</title>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<link href="@Url.Content("~/areas/logging/assets/css/main.css")" rel="stylesheet" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=Cuprum' rel='stylesheet' type='text/css' />
	
	<script type="text/javascript" src="@Url.Content("~/areas/logging/assets/js/jquery-1.7.1.min.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/areas/logging/assets/js/jquery-ui-1.8.16.custom.min.js")"></script>

	<script type="text/javascript" src="@Url.Content("~/areas/logging/assets/js/flot/jquery.flot.min.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/areas/logging/assets/js/flot/jquery.flot.pie.min.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/areas/logging/assets/js/flot/jquery.flot.resize.min.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/areas/logging/assets/js/flot/excanvas.min.js")"></script>

	<script type="text/javascript" src="@Url.Content("~/areas/logging/assets/js/datatables/jquery.dataTables.min.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/areas/logging/assets/js/datatables/colResizable.min.js")"></script>
	
	<script type="text/javascript" src="@Url.Content("~/areas/logging/assets/js/application.js")"></script>

	@*	<script type="text/javascript" src="js/forms/forms.js"></script>
	<script type="text/javascript" src="js/forms/autogrowtextarea.js"></script>
	<script type="text/javascript" src="js/forms/autotab.js"></script>
	<script type="text/javascript" src="js/forms/jquery.validationEngine-en.js"></script>
	<script type="text/javascript" src="js/forms/jquery.validationEngine.js"></script>
	<script type="text/javascript" src="js/forms/jquery.dualListBox.js"></script>
	<script type="text/javascript" src="js/forms/jquery.filestyle.js"></script>

	<script type="text/javascript" src="js/colorPicker/colorpicker.js"></script>

	<script type="text/javascript" src="js/uploader/plupload.js"></script>
	<script type="text/javascript" src="js/uploader/plupload.html5.js"></script>
	<script type="text/javascript" src="js/uploader/plupload.html4.js"></script>
	<script type="text/javascript" src="js/uploader/jquery.plupload.queue.js"></script>

	<script type="text/javascript" src="@Url.Content("~/areas/logging/assets/js/ui/progress.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/areas/logging/assets/js/ui/jquery.jgrowl.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/areas/logging/assets/js/ui/jquery.tipsy.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/areas/logging/assets/js/ui/jquery.alerts.js")"></script>

	<script type="text/javascript" src="@Url.Content("~/areas/logging/assets/js/jBreadCrumb.1.1.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/areas/logging/assets/js/cal.min.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/areas/logging/assets/js/jquery.smartWizard.min.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/areas/logging/assets/js/jquery.collapsible.min.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/areas/logging/assets/js/jquery.ToTop.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/areas/logging/assets/js/jquery.listnav.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/areas/logging/assets/js/jquery.sourcerer.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/areas/logging/assets/js/jquery.timeentry.min.js")"></script>
*@
	@*<script type="text/javascript" src="js/custom.js"></script>*@
</head>

	<body>
		<!-- Top navigation bar -->
		<div id="topNav">
			<div class="fixed">
				<div class="wrapper">
					<div class="welcome"><a href="#" title=""><img src="@Url.Content("~/areas/logging/assets/images/userPic.png")" alt="" /></a><span>Welcome User!</span></div>
					<div class="userNav">
						<ul>
							<li><a href="#" title=""><img src="@Url.Content("~/areas/logging/assets/images/icons/topnav/profile.png")" alt="" /><span>Profile</span></a></li>
							<li><a href="#" title=""><img src="@Url.Content("~/areas/logging/assets/images/icons/topnav/tasks.png")" alt="" /><span>Tasks</span></a></li>
							<li class="dd"><img src="@Url.Content("~/areas/logging/assets/images/icons/topnav/messages.png")" alt="" /><span>Messages</span><span class="numberTop">8</span>
								<ul class="menu_body">
									<li><a href="#" title="">new message</a></li>
									<li><a href="#" title="">inbox</a></li>
									<li><a href="#" title="">outbox</a></li>
									<li><a href="#" title="">trash</a></li>
								</ul>
							</li>
							<li><a href="#" title=""><img src="@Url.Content("~/areas/logging/assets/images/icons/topnav/settings.png")" alt="" /><span>Settings</span></a></li>
							<li><a href="../login.html" title=""><img src="@Url.Content("~/areas/logging/assets//images/icons/topnav/logout.png")" alt="" /><span>Logout</span></a></li>
						</ul>
					</div>
					<div class="fix"></div>
				</div>
			</div>
		</div>
		<div class="wrapper">
			<!-- Left navigation -->
			<div class="content">
				@RenderBody()
			</div>
		</div>
	</body>
</html>
